
.thank-you-container2 {
    max-width: 350px;
    padding: 0;
    border-radius: 22px;
    background: white;
    margin: auto;
    position: relative;
    top: 23%;
  }
  
  .thank-you-container2 .cross-icon::before {
    margin-left: auto;
    float: right;
    background-color: #C6C6C6;
  }
  
  .thank-you-container2 h1 {
    font-size: 26px;
  }
  
  .thank-you-container2 .icon {
    max-width: 80px;
    margin: auto;
    display: block;
  }
  
  .thank-you-container2 .thank-you-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: auto;
    padding: 0px 25px;
  }
  
  .thank-you-container2 .thank-you-grid .grid-seperator {
    text-align: center;
  }
  
  #thank-you-next {
    
  }
  
  @media screen and (max-width: 767px) {
  
  }
  
  @media screen and (max-width: 500px) {
    .thank-you-container2 {
      margin: auto 10px;
    }
  }

  .popIcon99{
    color: #2E4858 !important;
  }
  .headPop{
    color: #2E4858;
    font: normal normal 500 19px/33px Poppins;
    font-size: 19px;
    padding: 20px 10px 10px 10px;
  }
  .infoPop{
    color: #E29300;
    font: normal normal 500 9px Poppins;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    margin-left: 10px;
  }
  .popIcon1{
    color: #E29300 !important;
    font: normal normal 500 11px/21px Poppins;
    text-align: left;
  }
  .mobPop{
    color: #9B9B9B !important;
    text-align: left;
    font-size: 12px;
    padding: 0 0 0 10px;
    margin-left: 10px;
  }
  .mobPop1{
    color: #000000;
    text-align: left;
    font-size: 16px;
    padding: 0 0 0 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .getPop{
    width: 100%;
    background: #3D7CC9 0% 0% no-repeat padding-box;

    top: 945px;
    left: 463px;
    height: 40px; 
     /* width: 300px; 
   background: #acacac 0% 0% no-repeat padding-box;  */
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
    /* margin-bottom: -20px; */
  }
  .headPop1{
    margin-top: -7px;
  }
  .otpPop{
    padding: 12px;
  }
  .resend{
    size: 14px;
    color: #3d7cc9;
    text-decoration: underline;
    cursor: pointer;
  }