
.thank-you-container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  background: white;
  margin: auto;
  position: relative;
  top: 23%;
  padding-top: 20px;
  height: 393px;
}

.thank-you-container .cross-icon::before {
  margin-left: auto;
  background-color: #C6C6C6;
}

.thank-you-container h1 {
  font-size: 26px;
}

.thank-you-container .icon {
  max-width: 80px;
  margin: auto;
  display: block;
}

.thank-you-container .thank-you-grid {
  display: grid;
  /* grid-gap: px; */
  grid-template-columns: 1fr 15px 1fr;
  grid-template-rows: auto;
  padding-left: 8px;

  text-align: left;
font: normal normal normal 13px/24px Poppins;
letter-spacing: 0px;
color: #676767;

}

.thank-you-container .thank-you-grid .grid-seperator {
  text-align: center;
  color: black !important;
}
.dataGrid{
  color: black;
  margin-left: 8px;
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 500px) {
  .thank-you-container {
    margin: auto 10px;
  }
}

.thankYou1{
color: #3D7CC9;
}

.thankYou{
  text-align: center;
font: normal normal normal 26px/30px Poppins;
letter-spacing: 0px;
margin-top: 20px;
}
.subHead{
  text-align: center;
font: normal normal normal 19px/30px Poppins;
letter-spacing: 0px;
color: #2E2E2E;
}
