
.mainBody {
  height: 100%;
}


.btn-primary.disabled, .btn-primary:disabled {
  border-color: #c2c2c2 !important;
    background-color: #c2c2c2 !important
}
.pristynButton :disabled{
  border-color: #c2c2c2 !important;
  background-color: #c2c2c2 !important
}

input[type="checkbox"]:disabled {
  background: #ff8300 !important;
}

.pristynButton {
  border-radius: 25px !important;
  border-color: #ff8300 !important;
  background-color: #ff8300 !important;
}

ol li{
  text-align: justify !important;
}

li {
  line-height: 1.15;
}

ol > li::marker {
  font-weight: bold;
}

.uploadKycdiv.docUpladed {
  background: #ecfaeb;
}

input{
  font-size: 0.7rem;
}

#kyc-card {
  top: -115px;
  height: 100%;
  display: block;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 84px 66px #00000014;
  border: 1px solid #efe1d3;
  border-radius: 20px;
  opacity: 1;
  z-index: 99;
}

.otpSection{
  margin-top: 10px;
}

.docName{
  text-align: left;
  margin-bottom: 3vh;
  font-weight: bold;
}
.form-p{
  color: #9b9b9b;
  text-align: left;
  margin-bottom: 5px;
  font: normal normal normal 9px Poppins;
}

.docName1{
  text-align: right;
  margin-bottom: 3vh;
  cursor: pointer;
}

.pdfview {
  display: inline;
  overflow: scroll;
}

.pdfview1 {
}


.dnBtn {
  background: blue;
  width: 50%;
  height: auto;
  max-width: 400px
}


#input-option-table {
  padding: 0.5px 0.3px 0;
  border: solid 0.5px #c6c6c6;
  background-color: #ffffff;
}

#note-s {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  margin-bottom: 9px;
 font-family: Poppins;
 font-size: 13px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.62;
 letter-spacing: normal;
 text-align: left;
 color: #ff4343;
}

#doc-modal {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 84px 66px #00000014;
  border: 1px solid #EFE1D3;
  border-radius: 19px;
  opacity: 1;
}

#doc-modal .modal-content {
  display: inline;
}


@media only screen and (min-width: 300px) {
  .docImg {
    max-width: 300px !important;}
  .doc-button1{
    width: 90px;
  }
  .col-1{
    padding-left: 5px !important;
  }
  .col-5{
    padding-left: 5px !important;
  }
  .bottomNote {
    color: rgb(248, 106, 106);
    border-radius: 1px;
    border-style: dashed;
    border: 1px dashed #FF4343;
    margin: 30px;
    padding: 15px;
    font-size: 12px;
    text-align: left;
  }
  .resend {
    size: 14px;
    color: #3d7cc9;
    margin-top: 35px;
    text-decoration: underline;
    cursor: pointer;
  }
  .getPop5{
    width: 100%;
    background: #3D7CC9 0% 0% no-repeat padding-box;
    /* margin-left: -1px; */
    top: 945px;
    left: 440px;
    height: 40px;
     /* width: 300px;
   background: #acacac 0% 0% no-repeat padding-box;  */
    border-radius: 0px 0px 18px 18px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: -25px;
    font: normal normal medium 18px/21px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .uploadKycdiv{
    position: relative;
    width: 117px;
    height: 92px;
    /* margin: 5px 8px 11*2px 6.8px; */
    /* padding: 42px 35px 15px; */
    border-radius: 3px;
    border: solid 1px #d8d8d8;
    background-color: #f8f8f8;
    /* padding : 32px; */
    align-items: center;
    margin-left: 10px;
    text-align: center;
    padding-top: 14.2px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    color: #b7b7b7;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .uploadKycdiv1{
    position: relative;
    width: 117px;
    height: 92px;
    /* margin: 5px 8px 11*2px 6.8px; */
    /* padding: 42px 35px 15px; */
    border-radius: 3px;
    border: solid 1px #d8d8d8;
    background-color: #f8f8f8;
    /* padding : 32px; */
    align-items: center;
    margin-left: 90px;
    text-align: center;
    padding-top: 14.2px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    color: #b7b7b7;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .popTable{
    width: 180px;
  }

  #line1 {
    width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #kyc-card {
      width:96%;
  margin-left: 2%;
  margin-right: 2%;
  }
  #kyc-detail {
    margin-left: 10px;
    margin-right: 10px;
  }
  #next-button {
    top: 945px;
    left: 463px;
    width: 330px;
    height: 44px;
    background: #3d7cc9 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  #next-button1 {
    top: 945px;
    left: 463px;
    width: 330px;
    height: 44px;
    background: #acacac 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
  }
  .noButton{
    /* padding: 2px 2px !important; */
    font-size: 12px !important;
    border-radius: 2px !important;
    margin-left: 2px !important;
    margin-top: 2px !important;
  }

  .noButton:disabled{
    background-color: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
  }

  .noButton1{
    /* padding: 2px 2px !important; */
    font-size: 12px !important;
    border-radius: 2px !important;
    margin-top: -8px !important;
  }

  .noButton1:disabled{
    background-color: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
  }
}
@media only screen and (min-width: 600px) {

  .bottomNote {
    color: rgb(248, 106, 106);
    border-radius: 1px;
    border-style: dashed;
    border: 1px dashed #FF4343;
    margin: 30px;
    padding: 15px;
    padding-left: 40px;
    font-size: 12px;
    text-align: left;
  }
  .resend {
    size: 14px;
    color: #3d7cc9;
    margin-top: 45px;
    text-decoration: underline;
    cursor: pointer;
  }
  .getPop5{
    width: 500px;
    background: #3D7CC9 0% 0% no-repeat padding-box;
    margin-left: -1px;
    top: 945px;
    left: 440px;
    height: 40px;
    border-radius: 0px 0px 18px 18px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: -25px;
    font: normal normal medium 18px/21px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

.uploadKycdiv{
  position: relative;
  width: 117px;
  height: 92px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #f8f8f8;
  align-items: center;
  margin-left: 37px;
  text-align: center;
  padding-top: 14.2px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  color: #b7b7b7;
  margin-bottom: 20px;
  margin-top: 20px;
}

.uploadKycdiv1{
  position: relative;
  width: 117px;
  height: 92px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #f8f8f8;
  align-items: center;
  margin-left: 160px;
  text-align: center;
  padding-top: 14.2px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  color: #b7b7b7;
  margin-bottom: 20px;
  margin-top: 20px;
}
  #kyc-card {
      width: 515px;
  margin-left: 2%;
  margin-right: 2%;
  }
  #kyc-detail {
    margin-left: 80px;
    margin-right: 60px;
  }
  #next-button {
    top: 945px;
    left: 463px;
    width: 100%;
    height: 44px;
    background: #3d7cc9 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  .bottomNote{
    width: 350px;
  }

  #next-button1 {
    top: 945px;
    left: 463px;
    width: 100%;
    height: 44px;
    background: #acacac 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  .noButton{
    width: 100px;
    height: 40px;
    padding: 8px 8px !important;
    font-size: 15px !important;
    border-radius: 6px !important;
    margin-top: -12px !important;
  }

  .noButton1{
    width: 100px;
    height: 40px;
    padding: 8px 8px !important;
    font-size: 15px !important;
    border-radius: 6px !important;
    margin-top: -8px !important;
  }
}

.kyc-header {
  top: 204px;
  width: 271px;
  height: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
  font: normal normal 550 19px/33px Poppins ;
  letter-spacing: 0px;
  color: #2e4858;
  opacity: 1;
  text-align: center;
}

.doc-header {
  top: 204px;
  width: 214px;
  height: 27px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font: normal normal 550 19px/33px Poppins;
  letter-spacing: 0px;
  color: #383333;
  opacity: 1;
}


#kyc-text {
  top: 241px;
  width: 302px;
  height: 43px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.35px;
  text-align: center;
  font: normal normal normal 14px/23px Poppins;
  letter-spacing: 0px;
  color: #6f6666;
  opacity: 1;
}

.form-body1 {
  text-align: left;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #383838;
  margin-top: 15px;
  opacity: 1;
  display: inline-flex;
}

.form-body {
  text-align: left;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #383838;
  margin-top: 15px;
  opacity: 1;
}

.elip {
  top: 134px;
  left: 641px;
  width: 14px;
  height: 14px;
  background: #ff8300 0% 0% no-repeat padding-box;
  opacity: 1;
}

#next-button:hover {
  cursor: pointer;
}

.form-head {
  top: 325px;
  left: 572px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #616060;
  opacity: 1;
  margin: 8px 0 8px 0;
}

.tab-text {
  font-size: 5.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #ff8300;
}

#file-input {
  display: none
}

.form-footer {
  font-size: 5.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: left;
  font: normal normal 550 11px/18px Poppins;
  letter-spacing: 0px;
  color: #ff4343;
  width: 325px;
  height: 51px;
  border: 1px dashed #FF4343;
}

.covid-label {
  font-size: 6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.form-row .covid-form {
  width: 161px;
  height: 20px;
  margin: 1.5px 0 0;
  padding: 5px 72.5px 5px 5px;
  border-radius: 2.5px;
  border: solid 0.5px #bfbfbf;
  background-color: #ffffff;
}

.dotLine {
  font-size: 14px;
  align-items: center;
  align-content: center;
  margin-top: 26px;
  margin-bottom: -10px;
  width:128px;
  height:25px;
  overflow:hidden;
}
.dots{
  width:600px;height:2px;
  background:#ff8300;
  position:relative;top:5px;
}
.dot{
  float:left;width:14px;
  height:14px;background:#ff8300;
  border-radius:50%;position:relative;
  top:-4px;margin-right:100px;
  color: white;
}

.dotTxt{
  text-align: left;
  padding-left: 8px;
  font: normal normal 550 11px/16px Poppins;
  letter-spacing: 0px;
  color: #FF8300;
  opacity: 1;
}

.row1 .row3 {
  width: 100%;
  padding-left: 20px;
}
.row2 {
  text-align: right;
  width: 100%;
}

.row1{
  width: 100%;
}

.fa-check {
  color: black;
  font-size: larger;
}

.form-otp {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;
}

.w3-input {
  padding: 4px;
  display: block;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  width: 100%;
}

.w3-input1 {
  padding: 3px;
  display: block;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  width: 40px;
  margin-top: -10px;
  margin-right: 2px;
  font-size: 0.9rem;
  text-align: center;
}
.w3-input3 {
  padding: 5px;
  display: block;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  width: 60%;
  margin-top: -10px;
}

.imp {
  color: #ff4040;
}



label {
  color: #9b9b9b;
  size: 12px;
}

.otp {
  font-size: 14px;
  color: #151515;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0.13px;
}

.textBulet ol {
  padding-left: 10px;
  }

  .iAgreePop{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

#read-confirm-box
{
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    margin: auto;
    float: left;
}

.inline{
    display:inline-block;
    vertical-align:middle;
}

.select1 {
  background-color: white;
}
.pButton {
  text-align: right !important;
}
.pCareColor{
  color: #e8833a;
}
.pButton button {
  background-color: #e8833a !important;
  border-color: #e8833a !important;
  }

.agreement{
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}
.agreement input{
  margin-right: 10px;
  margin-top: 5px;
}
.footBottom{
  margin-bottom: 5px;
}



.termsCon {
  color: #3d7cc9;
  text-decoration: underline;
  cursor: pointer;
}

.bottomTerms {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: #9B9B9B;
}

.consenHead{
  color: black;
  font: normal normal 500 18px/21px Poppins;
  margin-top: -5px;
  margin-bottom: -10px;
}

.termsCon {
  color: #3d7cc9;
  text-decoration: underline;
}


.popHead {
  width: 100%;
  height: 100px;
  margin: 0 0 11.5px;
  padding: 7px 29px 9px 5.2px;
  background-color: #00263e;
  color: white;

  font-family: Poppins;
  font-size: calc(90% + 0.8vmin);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.81;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}

.textBulet {
  margin: 2px 19px 0 0;
  font-family: Poppins;
  font-size: 5.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  text-align: left;
  margin: 0 20px 0 20px
}

ol li{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 10px;
}

ol li::before {
  color: #3d7cc9;
  background: #3d7cc9;
  font-weight: bold;
  display: inline-block;
}

#tc-footer {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 10px;
}

.popBottom{
  font-size: small;
  margin-left: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.popBottom1{
  background-color: #f4f9ff;
  padding-bottom: 100%;
}

.popIcon{
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: white !important;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem .3rem !important;
}

.popIcon1{
  float: left;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: -8px;
  color: #3D7CC9  !important;
}

.popIcon2{
  float: left;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: -8px;
  color: #3D7CC9  !important;
}

.popIcon3{
  float: left;
  cursor: pointer;
  color: #1ECCA4 !important;
  padding-top: 2px;
  vertical-align: middle !important;
  margin-right: 5px;
  font-size: 16px;
}


.icon-list {
  text-align: left
}
.popIcon4{
  float: left;
  margin-right: 5%;
  cursor: pointer;
  margin-top: 10px;
  color: #2E4858 !important;
}

.popTxt4{
  text-align: center;
  width: 100%;
}

.popTable{
  width: 100%;
}

.popTable tr{
  border: 1px solid #C6C6C6;
}

.popTable tr td{
  padding-left: 10px;
  height: 42px;
}

.modalNew .modal-content{
  border-radius: 20px;
}

.doc-button {
  font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #3D7CC9;
opacity: 1;
padding-left: 10px

}

.img-div {
  overflow: scroll;
  width: 100%;
height: 442px;
}

.img-div2 {
height: 442px;

}



embed {
  width: 100%;
}

object {
  width: 100%;
}

.doc-button1 {
  font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #1ECCA4;
opacity: 1;
display: flex;
}

.image-upload .image-input {
  display: none
}

#kyc-button .image-input {
  display: none
}

.content{
  background-color:#f4f9ff;
  overflow-y: scroll;
  height:63vh;
}

.modal-content {
  background-color:#f4f9ff !important;
}

.consentCheck{
  color: white;
  font-size: small;
  padding-bottom: 5px;
}

#next-button1{
  background: #3D7CC9 0% 0% no-repeat padding-box;
}
#next-button1:disabled{
  background: #ACACAC 0% 0% no-repeat padding-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.divImg{
  margin-left: 4%;
  margin-right: 4%;
}

.docImg{
  width: 100%;
  max-width: 400px;
  height: 100%;
  object-fit: scale-down;
  margin: 5px;
  vertical-align: middle;
}

.ancor{
  width: 2px;
  max-width: 400px;
  height: auto;
  margin: 40%;
  margin-left: 30% !important;
  text-align: center;
}
.pdfDownload{
  font-size: 16px;
  background: #3d7cc9 0% 0% no-repeat padding-box;
  border-radius: 1px;
}

.getPop1{
  width: 500px;
  background: #3D7CC9 0% 0% no-repeat padding-box;
  margin-left: -1px;
  top: 945px;
  left: 440px;
  height: 40px;
   /* width: 300px;
 background: #acacac 0% 0% no-repeat padding-box;  */
  border-radius: 0px 0px 18px 18px;
  opacity: 1;
  text-align: center;
  color: white;
  padding-top: 10px;
  cursor: pointer;
  margin-bottom: -25px;
  font: normal normal medium 18px/21px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;

}

.uploadKyc{
  /* text-align: center; */
  border-top:0!important;
}

.uploadIconNew {
  width: 14.4px;
  height: 14.4px;
  object-fit: contain;
  color: #868686;
}

.uploadIconNew2 {
  width: 14.4px;
  height: 14.4px;
  object-fit: contain;
  color: #868686;
  /* margin-top: -10px; */
}

.uploadKycdiv label{
  margin-bottom: -5px;
}

.kycInp{
  margin-right: 12.8px;
}
/*
.kyc-detail div {
  width: 50px;
} */

.mainHead{
  width: 100%;
}

.col-6{
  padding-right: 0 !important;
}
.col-1{
  padding-right: 0 !important;
}


.container {
  padding: 40px;
  background: #419be0;
  width: 40px;
}

.slick-slide img {
  margin: auto;
}

.cl-6{
  padding-left: 0px !important;
}

.col-1{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-5{
  padding-right: 0px !important;
}

.loader{
  z-index: 99 !important;
  /* position: absolute; */
}

.swal2-icon .swal2-icon-content{
  font-size:1.25em !important;
}

.btn, .btn-full {
  color: #fff;
  border: none;
  font-size: 14px;
  /* background: #ee7f00; */
  /* background: var(--brand-orange); */
  border-radius: 5px;
  padding: 10px 20px;
  /* text-transform: uppercase; */
  background-color: #007bff;
  border-color: #007bff;
}
