* {
  box-sizing: border-box;
}

body, html{
  overflow-x: hidden !important;
}

body {
  background-color: #F4F9FF;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  /* width: 100%; */  
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background: var(--brand-orange);
  outline: 1px solid slategrey;
  border-radius: 5px;
}

:root {
  --brand-orange: #ee7f00;
  --green-blue: #14b48f;
  --brand-gray: #6f6f6f;
  --brand-blue: #002dea;
  --brand-black: #242936;
}

.green-blue-color {
  color: var(--green-blue);
}

.gray-color {
  color: var(--brand-gray);
}

.blue-color {
  color: var(--brand-blue);
}

.orange-color {
  color: var(--brand-orange);
}

.text-align-center {
  text-align: center;
}

.popup-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

.cross-icon::before {
  content: '+';
  color: white;
  font-size: 26px;
  background: var(--brand-orange);
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  transform: rotate(45deg);
  line-height: 0.8;
  cursor: pointer;
}

.btn {
  width: max-content;
  color: white;
  border: none;
  font-size: 20px;
  background: var(--brand-orange);
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-full {
  width: 100%;
  color: white;
  border: none;
  font-size: 20px;
  background: var(--brand-orange);
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.void-div {
  font-size: 45px;
  color: lightgray;
  font-weight: bold;
}

.container {
  max-width: 1265px;
  margin: auto;
}

.checkbox {
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__box {
  background-color: var(--brand-blue);
  background: var(--brand-blue);
}
.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}
.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}
.checkbox__box::after {
  content: '\2714';
  color: #fff;
  transform: scale(0);
  transition: transform 0.15s;
}

.flex-box {
  display: flex;
}

.flex-jcsb {
  justify-content: space-between;
}


@media screen and (max-width: 1265px) {
  .container {
    max-width: 100%;
    margin: auto 10px;
  }
}

.appMain{
  /* width: 100%; */
}

.App{
  /* width: 100%; */
}
